.DS_Store
./idea/workspace.xml
.idea/
/.idea/
target/

*.iml
./credentialsAWS.txt
credentialsAWS.txt
/credentialsAWS.txt
*/credentialsAWS.txt
**/credentialsAWS.txt
./src/main/java/org/clothocad/phagebook/adaptors/S3Credentials.java
src/main/java/org/clothocad/phagebook/adaptors/S3Credentials.java
*/src/main/java/org/clothocad/phagebook/adaptors/S3Credentials.java
**/src/main/java/org/clothocad/phagebook/adaptors/S3Credentials.java
src/main/webapp/resources/OrderSheets/*
upload/*
/nbproject/
