<!DOCTYPE html>

<html>

<head lang="en">

    <meta charset="UTF-8">
    <title>My Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cssBootstrap/bootstrap.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="icon" href="../styles/img/logos/phagebook-favicon.png" sizes="16x16">

    <script src="../scripts/new-ui-scripts/cookieHandler.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="../scripts/new-ui-scripts/angular.ng-modules.js"></script>
    <script src="../scripts/new-ui-scripts/fetchAllProjects.js"></script>

    <style>

        #content{
            position: relative;
            margin-left: 26%;
            margin-top: 130px;
            margin-bottom: 150px;
            overflow-x: hidden;
            z-index: inherit;
        }

        label {
            font-weight: 400;
            color: #1E714A;
        }

    </style>

</head>

<body>

    <div ng-module="newProjects">
        <div ng-controller="newProjectsCtrl">
            <header></header>
            <sidebar></sidebar>
            <div class="container" id="content">
                <div class="container">
                    <h3>Edit Project</h3>
                    <br><br>
                    <form id="edit-project-form">
                        <div class="form-group row">
                            <button type="button" id="populateFormButton" on-click="populateForm()" class="btn btn-default col-sm-2">Edit Selected Project</button>
                            <div class="col-sm-5">
                                <select class="form-control" id="editProjectDropdown">
                                    <option value="">
                                        Select...
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 form-control-label">NEW PROJECT TITLE</label>
                            <div class="col-sm-5">
                                <input name="name" class="form-control" ng-maxlength="100" ng-minlength="5" id="name" ng-model="formData.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desc" class="col-sm-2 form-control-label">NEW PROJECT DESCRPTION</label>
                            <div class="col-sm-5">
                                <textarea name="description" class="form-control" rows="5" id="desc" ng-maxlength="1000" ng-minlength="50" ng-model="formData.description" style="resize:none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="budget" class="col-sm-2 form-control-label">NEW BUDGET</label>
                            <div class="col-sm-5">
                                <input name="projectBudget" type="number" class="form-control" id="budget" placeholder="Budget" min="0" ng-model="formData.projectBudget">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" id="submitEditChange" class="btn btn-default">Submit</button>
                        </div>
                        <hr>
                        <div class="form-group row" style="clear:both;">
                            <label for="newStatus" class="col-sm-2 form-control-label">ADD NEW UPDATE</label>
                            <div class="col-sm-5">
                                <input name="newStatus" class="form-control" ng-maxlength="500" ng-minlength="5" id="newStatus" placeholder="Update" ng-model="formData.newStatus">
                                <input type="checkbox" id="emailPeople" value="first_checkbox"> Email members of the team
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <button type="button" id="addUpdate" class="btn btn-default">Add Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <footer></footer>
    </div>

    <!-- ANGULAR SCRIPTS -->
    <script src="../scripts/new-ui-scripts/sidebarDirective.js"></script>
    <script src="../scripts/new-ui-scripts/headerDirective.js"></script>
    <script src="../scripts/new-ui-scripts/footerDirective.js"></script>
    <script src="../scripts/new-ui-scripts/newProjectsController.js"></script>
    <script src="../scripts/new-ui-scripts/newProjectsApp.js"></script>

</body>

</html>