<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>New Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cssBootstrap/bootstrap.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/sidebar.css" />
    <link rel="stylesheet" href="../styles/projectsDropdown.css" />
    <link rel="icon" href="../styles/img/logos/phagebook-favicon.png" sizes="16x16">
    <script src="../scripts/new-ui-scripts/cookieHandler.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="../scripts/new-ui-scripts/angular.ng-modules.js"></script>
    <script src="../scripts/new-ui-scripts/addMembersToProjects.js"></script>
    <style>
    #content {
        position: relative;
        margin-left: 26%;
        margin-top: 130px;
        margin-bottom: 150px;
        overflow-x: hidden;
        z-index: inherit;
    }
    
    label {
        font-weight: 400;
        color: #1E714A;
    }
    </style>
</head>

<body>
    <div ng-module="newProjects">
        <div ng-controller="newProjectsCtrl" ng-cloak>
            <header></header>
            <sidebar></sidebar>
            <div class="container" id="content">
                <div class="container">
                    <h3>New Project</h3>
                    <br>
                    <p>Generate a new project by entering the fields below.</p>
                    <p style="font-style:italic;">* indicates all required fields</p>
                    <br>
                    <form id="new-project-form">
                        <div class="form-group row" style="clear:both;">
                            <label for="inputName" class="col-sm-2 form-control-label">PROJECT TITLE*</label>
                            <div class="col-sm-5">
                                <input name="name" class="form-control" ng-maxlength="100" ng-minlength="0" id="inputName" ng-model="formData.name">
                                <span ng-show="nameRequired">{{nameRequired}}</span>
                                <span class="error" ng-show="submitProject.name.$error.minlength">Minimum length is 0 characters.</span>
                                <span class="error" ng-show="submitProject.name.$error.maxlength">Maximum length is 100 characters.</span>
                            </div>
                        </div>
                        <!--                          <div class="form-group row">
                                    <!~~ Organization lab ~~>
                                    <div class="col-sm-2  float-left form-control-label">
                                        <label>
                                            LAB AFFILIATION*
                                        </label>
                                        <br>
                                        <span>
                                            Please select the institution.
                                        </span>
                                    </div>
                                    <div class="input-div col-sm-5 float-right">
                                        <select class="form-control" id="institution">
                                        </select>
                                        <div id = "lab_selectDiv">                                        
                                            <select class="form-control col-sm-5" id="lab-name">
                                                <option>Lab Name...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span ng-show="labsRequired">{{labsRequired}}</span>
                        </div> -->
                        <div class="form-group row">
                            <label for="inputDescription3" class="col-sm-2 form-control-label">DESCRIPTION*</label>
                            <div class="col-sm-5">
                                <textarea name="description" class="form-control" rows="5" id="inputDescription3" ng-model="formData.description" style="resize:none;"></textarea>
                                <span ng-show="descriptionRequired">{{descriptionRequired}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputLeadName" class="col-sm-2 form-control-label">SEARCH FOR LEAD</label>
                            <div class="form-group has-feedback col-sm-5">
                                <div class="right-inner-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input name="leadName" class="form-control newProject-input leadForm leadName" id="inputLeadName" ng-model="formData.leadName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lead_Results" class="col-sm-2 form-control-label">SELECT LEAD*</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="inputLeadName_Results">
                                    <option value="">
                                        Select...
                                    </option>
                                    <option value="0">
                                        Could not find lead.
                                    </option>
                                </select>
                                <div class="leadError">
                                    <span ng-show="leadNameRequired">{{leadNameRequired}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputBudget3" class="col-sm-2 form-control-label">BUDGET</label>
                            <div class="col-sm-5">
                                <input name="projectBudget" type="number" class="form-control" id="inputBudget3" min="0" ng-model="formData.projectBudget">
                                <span ng-show="projectBudgetRequired">{{projectBudgetRequired}}</span>
                                <span class="error" ng-show="submitProject.projectBudget.$error.number">Not a valid number.</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputGrant3" class="col-sm-2 form-control-label">GRANT</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="inputGrant3" placeholder="Grant" ng-model="formData.grant">
                                <span ng-show="projectGrantRequired">{{projectGrantRequired}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputMemberName" class="col-sm-2 form-control-label">SEARCH FOR MEMBERS</label>
                            <div class="form-group has-feedback col-sm-5">
                                <div class="right-inner-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <input name="memberName" class="form-control newProject-input memberForm memberName" id="inputMemberName" placeholder="i.e. John Smith" ng-model="formData.memberName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="member_Results" class="col-sm-2 form-control-label">SELECT MEMBER*</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="inputMemberName_Results">
                                    <option value="default">
                                        Select...
                                    </option>
                                    <option value="0">
                                        Could not find member.
                                    </option>
                                </select>
                                <div class="memberError">
                                    <span ng-show="membersNameRequired">{{membersNameRequired}}</span>
                                </div>
                                <dl class="dropdown">
                                    <dd class="dd_dropdown">
                                        <div class="multiSelect">
                                            <ul id="membersList">
                                                <div><span>Selected members will be added to the project:</span>
                                                    <option value="0">
                                                        Could not find member.
                                                    </option>
                                                </div>
                                            </ul>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-7">
                        <button id="create-project-btn" type="submit" ng-click="saveData()" class="btn btn-default" style="float:right;">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <footer></footer>
    </div>
    <!-- ANGULAR SCRIPTS -->
    <script src="../scripts/new-ui-scripts/sidebarDirective.js"></script>
    <script src="../scripts/new-ui-scripts/headerDirective.js"></script>
    <script src="../scripts/new-ui-scripts/footerDirective.js"></script>
    <script src="../scripts/new-ui-scripts/newProjectsController.js"></script>
    <script src="../scripts/new-ui-scripts/newProjectsApp.js"></script>
</body>

</html>