<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="shorcut icon" href="../styles/images/phagebookLogoMin_16x16.ico"/>
    <base href="/">
    <link rel="stylesheet" href="../styles/cssBootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/clothoNavBar.css">
    <link rel="stylesheet" href="../styles/phagebookMainStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/lodash.js"></script>
    <script src="../scripts/projectController.js"></script>
    <script src="../scripts/ordering.js"></script>



    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<body ng-module="projectsApp">

<div>
    <div class="container">
        <div clotho-command-bar></div>
    </div>
</div>

<div class="container-fluid">
  <form name="submitProject" sclass="form-horizontal" role="form" ng-controller="projectsController"> 
    
    <h3 class="projectFormTitle">New Project</h3>  
    <div class="form-group">    <!-- String name -->
      <label for="inputName" class="control-label">Project Title*</label>
        <input name="name" class="form-control" ng-maxlength="100" ng-minlength="5" id="inputName" placeholder="Name" ng-model="formData.name">
       <span ng-show="nameRequired">{{nameRequired}}</span>
       <span class="error" ng-show="submitProject.name.$error.minlength">
        Minimum length is 5 characters.</span>
       <span class="error" ng-show="submitProject.name.$error.maxlength">
        Maximum length is 100 characters.</span>
    </div>
<!--    
    <div class="form-group"> <!~~ Organization lab ~~>
      <label for="inputLab3" class="col-sm-2 control-label" >Lab(s)/Organization(s)</label>  
      <div class="col-sm-4">
        <input class="form-control" id="inputLab3" placeholder="Lab(s)" ng-model="formData.labs">
      </div>
       <span ng-show="labsRequired">{{labsRequired}}</span>
    </div>
    <div class="form-group"> <!~~ Person lead ~~>
      <label for="inputLead3" class="col-sm-2 control-label" >Lead</label>  
      <div class="col-sm-4">
        <input class="form-control" id="inputLead3" placeholder="Lead" ng-model="formData.lead">
      </div>
       <span ng-show="leadRequired">{{leadRequired}}</span>
    </div>
    <div class="form-group">  <!~~ Double projectBudget ~~>
      <label for="inputProjectBudget3" class="col-sm-2 control-label" >Project Budget</label>  
      <div class="col-sm-4">
        <input name="projectBudget" type="number" class="form-control" id="inputEmail3" placeholder="Budget" min="0" ng-model="formData.projectBudget">
      </div>
       <span ng-show="projectBudgetRequired">{{projectBudgetRequired}}</span>
       <span class="error" ng-show="submitProject.projectBudget.$error.number">
         Not a valid number.
       </span>
    </div>
    
    <div class="form-group"> <!~~ Grant projectGrant by string name? ~~>
      <label for="inputGrant3" class="col-sm-2 control-label" >Grant</label>  
      <div class="col-sm-4">
        <input  class="form-control" id="inputGrant3" placeholder="Grant" ng-model="formData.grant">
      </div>
       <span ng-show="projectGrantRequired">{{projectGrantRequired}}</span>
    </div>
  -->

    <div class="form-group"> <!--String Description-->
      <label for="inputDescription3" class="control-label" >Description*</label>  
        <textarea name="description" class="form-control" rows="5" id="inputDescription3" placeholder="Description"  ng-maxlength="1000" ng-minlength="50" ng-model="formData.description"></textarea>
       <span ng-show="descriptionRequired">{{descriptionRequired}}</span>
       <span class="error" ng-show="submitProject.description.$error.minlength">
        Minimum length is 50 characters.</span>
       <span class="error" ng-show="submitProject.description.$error.maxlength">
        Maximum length is 1000 characters.</span>
    </div>


    <div class="form-group">
        <button type="submit" ng-click="saveData()" class="btn btn-success">Create</button>
    </div>

  </form>
</div>

<div class="modal-footer">
    Created by <a href="http://www.cidarlab.org" target="_blank">CIDAR at Boston University</a><br>
    Built by <a href="mailto:azulad7@bu.edu">Allison Z. Durkan</a><br>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>


<!---SCRIPTS-->

<script src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script src="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<!--note - remove all scripts below this for api-only build-->
<script type='text/javascript' src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script type='text/javascript' vsrc="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<script type='text/javascript' src="../scripts/clotho/c2a11f43.clotho-foundation-module.js"></script>
<script src="../scripts/clotho/clotho3API.js"></script>
<script src='../scripts/clotho/68a2b2df.clotho-command-module.js'></script>
<script src="../scripts/angular.ng-modules.js"></script>

</body>