<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="shorcut icon" href="../styles/images/phagebookLogoMin_16x16.ico"/>
    <base href="/">
    <link rel="stylesheet" href="../styles/cssBootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/clothoNavBar.css">
    <link rel="stylesheet" href="../styles/phagebookMainStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="../scripts/angular.ng-modules.js"></script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/lodash.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.0.0/q.js"></script>

<body>

<div ng-module="clothoRoot">
    <div class="container">
        <div clotho-command-bar></div>
    </div>
    <terminal-aside></terminal-aside>
</div>

<div class="container-fluid" id="profile">
<div ng-module="profileApp">
<div ng-controller="profileController">
    <div class="row" >
        <div class="col-md-3 text-center">
               <img src="../images/people/{{pictureName}}.png" alt="{{pictureName}}'s profile picture" class="img-rounded">
                <div class="description" >
                    <span class="btn btn-file" ng-show="editBool"><input type="file" id="profilePicture" onchange="readProfilePic(this)" accept="image/gif, image/jpeg, image/png"></span>
                    <h3 style="text-align: center"><strong> {{ displayName }} </strong></h3>
                </div> <!--[this is all being used in the Phagebook Sidebar in the same format]-->
        </div>

        <div class="col-md-6 user-wrapper">
            <div class="description" id="profileInfo">
                <h3><strong> About Me </strong>
                    <button class="btn btn-default" ng-click="editInfo()" ng-show="!editBool"> <span class="glyphicon glyphicon-pencil"></span> Edit profile</button>
                    <button class="btn btn-default" ng-click="save()" ng-show="editBool"> <span class="glyphicon glyphicon-save"> Save</span></button>
                    <button class="btn btn-default" ng-click="cancel()" ng-show="editBool"> <span class="glyphicon glyphicon-erase"> Cancel</span> </button></h3>
                    Institution: <input type="text" ng-model="personObj.institution" ng-disabled="!editBool"> <br><br>
                    Lab: <input type="text" ng-model="personObj.lab" ng-disabled="!editBool"> <br><br>
                    Position: <input type="text" ng-model="personObj.position" ng-disabled="!editBool"> <br><br>
                <hr />
                <h3><strong> Status Updates </strong></h3>
                <h5> Update your personal news, accomplishments, and lab events. </h5>
                <ng-form id = "inputStatus">
                    <div>
                        <input id = "newStatus" ng-model = "newStatus" class = "col-md-8" type="text" placeholder="Write a new status here">
                        <button id = "createStatus" class="btn btn-default" ng-click="createStatus()"><span class="glyphicon glyphicon-comment"></span> Create status</button><br>
                    </div>
                </ng-form> <br>
                <div class = inline-block>
                    <h4>Previous Posts</h4>
                    <ul>
                        <li ng-repeat="status in statuses">
                            {{status.statusMessage}}
                        </li>
                    </ul>
                </div>
                <hr />
                <h3><strong> Projects </strong></h3>

                <hr />
                <h3><strong> Publications </strong></h3>
                <ol>
                    <li ng-repeat="publication in publications">
                        {{publication.authors[0].name}}, {{publication.authors[1].name}}, {{publication.authors[2].name}}... ({{publication.pubdate}}). <i>{{publication.title}}</i>
                    </li>
                </ol>
                <ng-form id="pubmedIDEntry">
                    <div>
                        <input id="pubmedId" ng-model="pubmedId" class="col-md-8" placeholder="Please enter your PubMed ID" ng-show="editBool">
                        <button id="displayPub" class="btn btn-default" ng-click="displayPub()" ng-show="editBool"><span class="glyphicon glyphicon-certificate"></span> Add Publication ID#</button>
                    </div>
                </ng-form>

                <!--<hr />
                <h3><strong> Social Links </strong></h3>
                <a href="https://www.facebook.com" target="_blank" class="btn btn-social btn-facebook">
                    <i class="fa fa-facebook"></i>&nbsp; Facebook </a>
                <a href="https://www.twitter.com" target="_blank" class="btn btn-social btn-twitter">
                    <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                <a href="https://www.linkedin.com" target="_blank" class="btn btn-social btn-linkedin">
                    <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>-->
            </div>

        </div>
        <div class="col-md-3" id="friends">
            <h3><strong> Colleagues</strong>
            <button class="btn btn-default" ng-click="findFriends()"><span class="glyphicon glyphicon-plus-sign"> Add Colleagues</span></button></h3>
            <hr />
            <div ng-init="loadFriends()">

            </div>

            <script type="text/ng-template" id="friendFinder.html">
                <div class="modal-header">
                    <h3><strong>Colleague Search</strong></h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="post">
                    <p>Enter your colleague's information below:</p>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="colleagueFirstName">First Name:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="colleagueFirstName" ng-model="colleagueFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="colleagueLastName">Last Name:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="colleagueLastName" ng-model="colleagueLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="colleagueEmail">E-mail Address:</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="colleagueEmail" ng-model="colleagueEmail" placeholder="E-mail Address">
                            </div>
                        </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Search</button>
                    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>

    </div>

</div>
</div>
</div>
<br> <br>
<div class="modal-footer">
    Created by <a href="http://www.cidarlab.org" target="_blank">CIDAR at Boston University</a><br>
    Built by <a href="mailto:azulad7@bu.edu">Allison Z. Durkan</a><br> <img src="../styles/images/logo-trace_black.png" style="height:50px">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> <br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>


<!---SCRIPTS-->
<script src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script src="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<script type='text/javascript' src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script type='text/javascript' src="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<script type='text/javascript' src="../scripts/clotho/c2a11f43.clotho-foundation-module.js"></script>
<script src='../scripts/clotho/68a2b2df.clotho-command-module.js'></script>
<script src="../scripts/clotho/clotho3API.js"></script>
<script src="../scripts/profileController.js"></script>
<script src="../scripts/pubmed.js"></script>
<script src="../scripts/jsBootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

</body>
</html>
