<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="shorcut icon" href="../styles/images/phagebookLogoMin_16x16.ico"/>
    <base href="/">
    <link rel="stylesheet" href="../styles/cssBootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="../styles/clothoNavBar.css">
    <link rel="stylesheet" href="../styles/phagebookMainStyle.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/lodash.js"></script>
    <script src="../scripts/projectsController.js"></script>



    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<body ng-module="projectsApp">

<div>
    <div class="container">
        <div clotho-command-bar></div>
    </div>
</div>

    <div class = "row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
    <div class="container-fluid" id="projects">
        <div class="row">
            <div class="col-md-12" id="projectName">
                <br>
                <h1>Project Name</h1>
                <br>
            </div>
        </div>
    <div ng-app="tabsApp" ng-controller="tabsController">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-click="selectTab(1)" ng-class="{active:isActive(1)}"><a href="javascript:void(0);">About</a></li>
        <li role="presentation" ng-click="selectTab(2)" ng-class="{active:isActive(2)}"><a href="javascript:void(0);">Newsfeed</a></li>
        <li role="presentation" ng-click="selectTab(3)" ng-class="{active:isActive(3)}"><a href="javascript:void(0);">Notebooks</a></li>
        <li role="presentation" ng-click="selectTab(4)" ng-class="{active:isActive(4)}"><a href="javascript:void(0);">Orders</a></li>
        <li role="presentation" ng-click="selectTab(5)" ng-class="{active:isActive(5)}"><a href="javascript:void(0);">Grant</a></li>
    </ul>
    <div ng-show="isActive(1)">
        <br>
        <div id="firstRow" class = "row">
            <div class = "col-md-6">
                <h3>Lead PI: </h3>
            </div>
            <div class="col-md-6">
                <h3>Labs: </h3>
            </div>
        </div>
        <div id="secondRow" class="row">
            <div class="col-md-6">
                <h3>Co-PIs:</h3>
            </div>
            <div class="col-md-6">
                <h3>Members:</h3>
            </div>
        </div>
        <div id="thirdRow" class="row">
            <div class="col-md-12">
                <h3>Description:</h3>
            </div>
        </div>
    </div>
    <div ng-show="isActive(2)">
        This is content under Tab 2
    </div>
    <div ng-show="isActive(3)">
        This is content under Tab 3
    </div>
    <div ng-show="isActive(4)">
        This is content under Tab 4
    </div>
    <div ng-show="isActive(5)">
        This is content under Tab 5
    </div>
    </div>
    </div>
        </div>
        </div>



<!---SCRIPTS-->

<script src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script src="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<!--note - remove all scripts below this for api-only build-->
<script type='text/javascript' src="../scripts/clotho/b18fc8c8.clotho-app-command.js"></script>
<script type='text/javascript' vsrc="../scripts/clotho/c0f113c2.clotho-core-module.js"></script>
<script type='text/javascript' src="../scripts/clotho/c2a11f43.clotho-foundation-module.js"></script>
<script src="../scripts/clotho/clotho3API.js"></script>
<script src="../scripts/projectsController.js"></script>
<script src='../scripts/clotho/68a2b2df.clotho-command-module.js'></script>
<script src="../scripts/angular.ng-modules.js"></script>

</body>
</html>
