a:link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
}

a:visited {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent !important;
}

#add-colleagues-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 70%;
    margin-top: -30px;
    float: right;
}
            
#add-colleagues-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-colleagues-modal {
    margin-top: 10px;
    margin-left: 40px;
}

#add-publication-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 70%;
    margin-top: -30px;
    float: right;
}
            
#add-publication-btn:hover {
    background-color: #89C176;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #666666;
    background-color: #F4F4F4;
    margin-bottom: 60px;
}

#colleagues {
    margin-top: -245px;
    float: right;
}

#colleagues-full-list {
    display: inline;
}

#colleagues-full-list a {
    color: #1E714A;
    font-weight: 400;
}

#colleagues-full-list li {
    margin-right: 50px;
    margin-bottom: 25px;
    height: 112px;
}

#colleagues-full-list img {
    margin-top: -10px;
    margin-left: -5px;
    height: 110px;
}

#colleagues-tab {
    margin-top: 50px;
}

#createOrder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A; 
    border: none;
}

#createOrder:hover {
    background-color: #31A16F;
}

#create-status-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 35%;
}
            
#create-status-btn:hover {
    background-color: #89C176;
    border: none;
}

#edit-profile-btn {
    float: right;
    margin-left: 10px;
    background-color: #9E9E9E;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#edit-profile-btn:hover {
    background-color: #89C176;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FDFDFD;
}

#gear-icon {
    height: 25px;
}

#header-btn-toolbar{
    margin-top: 20px;
    margin-left: 900px;
    float: right;
    position: relative;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

#list-colleagues li {
    width: 400px;
}

#list-colleagues li a {
    color: #1E714A;
    font-weight: 400;
}

#list-colleagues li img {
    height: 90px;
    vertical-align: middle;
    margin-left: -15px;
    margin-top: -10px;
}

#list-colleagues li p {
    font-size: 11px;
    line-height: 10px;
}

#load-more-btn {
    background-color: #FFFFFF;
    border-radius: 0px;
}

#load-more-btn:hover {
    background-color: #C1C1C1;
    border-radius: 0px;
}

#moreDropdown ul {
    padding: 0px 0px 0px 0px;
    width: 225px;
}

#moreDropdown ul li {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #1E714A;
    border-bottom: none;
    height: 70px;
    float: none;
    position: fixed;
}

.navbar-brand {
    float: left;
    margin-top: 8px;
}

#profile {
    position: absolute;
    overflow-x: hidden;
    margin-top: 90px;
    margin-left: 400px;
}

#profile-header {
    width: 500px;
    margin-left: 220px;
}

#profile-info {
    width: 400px;
    margin-left: 220px;
}

#profile-info td {
    line-height: 10px;
}

#profile-overview {
    padding: 20px 40px 0px 50px;
    background-color: #FFFFFF;
}

#profile-picture {
    margin-top: 30px;
    position: absolute;
    float: left;
    height: 180px;
}

#publications {
    margin-top: 50px;
}

#publications li {
    padding: 30px 20px 20px 20px;
    margin-bottom: 25px;
}

#publications p {
    font-style: italic;
    line-height: 10px;
}

#search-colleagues {
    margin-top: 20px;
}

#search-colleagues-btn {
    font-size: 14px;
    background: #1E714A;
    color: #FFFFFF;
    border-radius: 24px;
    padding: 8px 25px 8px 25px;
}
            
#search-colleagues-btn:hover {
    background: #31A16F;
    color: #FFFFFF;
}

#search-colleagues-list {
    
}

#search-colleagues-list li {
    width: 750px;
    margin-bottom: 20px;
}

#search-colleagues-list img {
    height: 90px;
    vertical-align: middle;
    margin-left: -15px;
    margin-top: -10px;
}

#search-colleagues-list p {
    font-size: 11px;
    line-height: 10px;
}

#see-full-list-btn {
    background-color: #FFFFFF;
    border-radius: 0px;
    display: block;
    width: 400px;
}

#see-full-list-btn:hover {
    background-color: #C1C1C1;
    border-radius: 0px;
}

#status-update-textarea {
    margin: 20px 0px 20px -15px;
}

td {
    border: none !important;
}


/*
** HEADER CSS BEGIN
*/

#headerNav {
    margin-bottom: 0px!important;
    position: inherit;
}


/*
** HEADER CSS END
*/