   a:link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
}

a:visited {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    color: #1E714A;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent !important;
}

#add-colleague-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    margin-top: 30px;
    border: none;
}

#add-colleague-btn:hover {
    background-color: #89C176;
}

#add-colleagues-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 70%;
    margin-top: -30px;
    float: right;
}

#add-colleagues-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-colleagues-modal {
    margin-top: 10px;
    margin-left: 10px;
}

#add-custom-pub-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    float: right;
}

#add-custom-pub-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-items-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #1E714A;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    float: right;
    margin-top: -30px;
}

#add-items-btn:hover {
    background-color: #31A16F;
}

#add-items-modal {
    margin-top: 10px;
    margin-left: 10px;
}

#add-items-modal label {
    font-weight: 600;
    font-size: 14px;
}

#add-labs-and-pis {
    margin: 50px 0px 0px 70px;
}

#add-modal label {
    font-weight: 600;
    font-size: 14px;
    color: #666666;
}

#add-publication-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 70%;
    margin-top: -30px;
    float: right;
}

#add-publication-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-publication-modal label {
    font-weight: 400;
    color: #1E714A;
}

#add-publication-modal p {
    font-style: normal !important;
}

#add-doi-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

#add-doi-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-pubmed-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

#add-pubmed-btn:hover {
    background-color: #89C176;
    border: none;
}

#add-to-lab-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    float: left;
}

#add-to-lab-btn:hover {
    background-color: #89C176;
}

#add-to-order-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#add-to-order-btn:hover {
    background-color: #89C176;
}

#addUpdate {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A;
    border: none;
    float: right;
}

#addUpdate:hover {
    background-color: #31A16F;
}

.approve-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #1E714A;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

.approve-btn:hover {
    background-color: #31A16F;
    color: #FFFFFF;
}

.approved-status {
    background-color: #27ae60;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    float: right;
    border-radius: 8px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #666666;
    background-color: #F4F4F4;
    margin-bottom: 60px;
}

.btn[disabled]:hover {
    background-color: #1E714A;
    border: none;
}

#colleague {
    position: absolute;
    overflow-x: hidden;
    margin-top: 130px;
    margin-left: 16%;
}

#colleagues {
    margin-top: -260px;
    float: right;
}

#colleagues-full-list {
    display: inline;
}

#colleagues-full-list a {
    color: #1E714A;
    font-weight: 400;
}

#colleagues-full-list li {
    margin-right: 50px;
    margin-bottom: 25px;
    height: 112px;
}

#colleagues-full-list img {
    margin-top: -10px;
    margin-left: -5px;
    height: 110px;
}

#create-new-lab-form {
    margin-left: 25px;
}

#createOrder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A; 
    border: none;
}

#createOrder:hover {
    background-color: #31A16F;
}

#createProduct {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A; 
    border: none;
}

#createProduct:hover {
    background-color: #31A16F;
}

#create-project-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A;
    border: none;
}

#create-project-btn:hover {
    background-color: #31A16F;
}

#createVendor {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A; 
    border: none;
}

#createVendor:hover {
    background-color: #31A16F;
}

#create-status-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 35%;
    float: right;
}

#create-status-btn:hover {
    background-color: #89C176;
    border: none;
}

.decline-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #CD344A;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

.decline-btn:hover {
    background-color: #EC3C56;
    color: #FFFFFF;
}

.delete-order-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #CD344A;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

.delete-order-btn:hover {
    background-color: #EC3C56;
    color: #FFFFFF;
}

#doi-input {
    float: left;
    width: 600px;
}

#dl-csv-product-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#dl-csv-product-btn:hover {
    background-color: #89C176;
}

#dl-csv-vendor-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#dl-csv-vendor-btn:hover {
    background-color: #89C176;
}

.denied-status {
    background-color: #c0392b;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    float: right;
    border-radius: 8px;
}

#edit-info-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    margin-top: 50px;
    border: none;
}

#edit-info-btn:hover {
    background-color: #89C176;
}

.edit-order-btn {
    float: right;
    background-color: #9E9E9E;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.edit-order-btn:hover {
    background-color: #89C176;
    border: none;
    color: #FFFFFF;
}

#edit-profile-btn {
    float: right;
    margin-left: 10px;
    background-color: #9E9E9E;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#edit-profile-btn:hover {
    background-color: #89C176;
    border: none;
}

.export-csv-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    margin-right: 0px;
}

.export-csv-btn:hover {
    background-color: #89C176;
    color: #FFFFFF;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FDFDFD;
}

#gear-icon {
    height: 25px;
}

#general-account-settings {
    margin: 50px 0px 0px 70px;
}

#go-btn {
    font-size: 14px;
    background: #1E714A;
    color: #FFFFFF;
    border-radius: 24px;
    padding: 8px 25px 8px 25px;
    border: none;
}

#go-btn:hover {
    background: #31A16F;
    color: #FFFFFF;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

#header-btn-toolbar{
    margin-top: 20px;
    margin-left: 1020px;
    float: right !important;
    position: absolute;
}

#invalid-combo-alert .modal-body {
    padding-bottom: 0px;
}

#invalid-combo-alert .modal-header {
    border: none;
    padding-bottom: 0px;
}

.item-custom-unit-price {
    text-align: right;
}

.item-name {
    text-align: left;
}

.item-name img {
    margin-right:10px; 
    display:none;
}

.item-qty {
    text-align: center;
}

.item-total-price {
    text-align: right;
}

.item-unit-price {
    text-align: right;
}

.item-custom-unit-price {
    text-align: right;
}

.lab-property-headers td {
    color: #1E714A;
    padding: 0px 0px 0px 0px;
}

.lab-property-data td {
    padding: 0px 0px 0px 0px;
}

#list-colleagues{
    margin-top: 0px;
}

#list-colleagues li {
    width: 350px;
}

#list-colleagues li a {
    color: #1E714A;
    font-weight: 400;
}

#list-colleagues li img {
    height: 90px;
    vertical-align: middle;
    margin-left: -15px;
    margin-top: -10px;
}

#list-colleagues li p {
    font-size: 11px;
    line-height: 10px;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
    background-color: transparent;
    padding: 30px 20px 20px 40px;
    margin-bottom: 0;
    margin-right: 0;
    width: 300px;
}

.list-group-horizontal .list-group-item:hover {
    background-color: #D9D9D9;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}

#load-more-btn {
    color: #FFFFFF;
    background-color: #9E9E9E;
    border-radius: 0px;
    font-size: 12px;
}

#load-more-btn:hover {
    background-color: #89C176;
    border-radius: 0px;
}

#add-modal .modal-footer {
    padding-top: 30px;
    padding-bottom: 0px;
}

#moreDropdown ul {
    padding: 0px 0px 0px 0px;
    width: 225px;
}

#moreDropdown ul li {
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #1E714A;
    border-bottom: none;
    height: 70px;
    float: none;
    position: fixed;
}

.navbar-brand {
    float: left;
    margin-top: -2px;
}

.navbar .divider-vertical {
    display: inline;
    height: 40px;
    margin: 0 9px;
    border-left: 0.5px solid #666666;
    border-right: 0.5px solid #666666;
}

.order-bottom-panel {
    padding-top: 0px;
    padding-bottom: 0px;
}

#order-buttons {
    position: absolute;
    margin-top: 90px;
}

.order-date {
    padding: 10px 0px 10px 30px;
    background-color: #BDBDBD;
    color: #000000;
}

.order-items-table {
    border: 0.25px #D5D5D5;
    table-layout: auto;
}

.order-items-table tr th td {
    border: 0.25px #D5D5D5;
    padding: 10px 15px 10px 15px;
    vertical-align: middle;
}

.order-items-headers td {
    font-weight: 600;
    color: #262626;
    background-color: #F2F2F2;
    border: 0.25px #D5D5D5;
    padding: 15px 15px 15px 15px;
    text-align: center;
    vertical-align: middle;
}

.order-nickname[type="text"] {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    padding-left: 10px;
}

.order-nickname[type="text"][disabled] {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    background-color: transparent;
    border: none;
}

.order-property-headers td {
    color: #1E714A;
    padding: 0px 0px 0px 0px;
}

.order-property-data td {
    padding: 0px 0px 0px 0px;
}

.order-top-panel p {
    margin-left: 10px;
}

.order-totals-table {
    width: 200px;
    float: right;
}

.pi-full-list {
    display: inline;
}

.pi-full-list a {
    color: #1E714A;
    font-weight: 400;
    float: left;
 }

.pi-full-list li {
    margin-left: 50px;
    height: 102px;
    width: 450px;
}

.pi-full-list li div {
    float: left;
    margin-top: -5px;
}

.pi-full-list li div p {
    text-align: left;
    line-height: 10px;
    clear: both;
}

.pi-full-list li img {
    margin-top: -30px;
    margin-left: -40px;
    height: 100px;
    float: left;
}

.pi-full-list li input {
    float: right;
    transform: scale(1.5);
    margin-top: -5px;
}

.pi-results {
    overflow:auto;
    height:200px;
}

#populateFormButton {
    float: left;
}

.product-property-headers td {
    color: #1E714A;
    padding: 0px 0px 0px 0px;
}

.product-property-data td {
    padding: 0px 0px 0px 0px;
}

#product-result-table tr td {
    vertical-align: middle;
}

#profile {
    position: absolute;
    overflow-x: hidden;
    margin-top: 130px;
    margin-left: 400px;
}

#profile-account-settings {
    margin: 50px 0px 0px 70px;
}

#profile-header {
    width: 550px;
    margin-left: 280px;
}

#profile-info {
    width: 400px;
    margin-left: 280px;
}

#profile-info td {
    line-height: 10px;
}

#profile-overview {
    padding: 20px 40px 0px 50px;
    background-color: #FFFFFF;
}

#profile-panel {
    margin-bottom: 150px;
}

#profile-picture {
    margin-top: 30px;
    position: absolute;
    float: left;
    height: 180px;
    width: 180px;
}

#publications li {
    padding: 30px 20px 20px 20px;
    margin-bottom: 25px;
}

#publications-list {
    margin-top: 0px;
}


#publications p {
    font-style: italic;
    line-height: 10px;
}

#pubmed-id-input {
    float: left;
    width: 600px;
}

.received-status {
    background-color: #e67e22;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    float: right;
    border-radius: 8px;
}

#remove-modal label {
    font-weight: 600;
    font-size: 14px;
    color: #666666;
}

#remove-pi-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #CD344A;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#remove-pi-btn:hover {
    background-color: #EC3C56;
    color: #FFFFFF;
}

.request {
    margin-left: 70px;
    margin-bottom: 10px;
}

.request a {
    color: white;
    text-decoration: underline;
}

.request .glyphicon {
    margin-right: 10px;
}

.request-btn {
    text-align: left;
    height: 50px;
    background-color: #7f8c8d;
    border-color: #7f8c8d;
    color: #FFFFFF;
    border-radius: 0px;
}

.request-btn:hover {
    background-color: #95a5a6;
    border-color: #95a5a6;
    color: #FFFFFF;
}

.request-btn:active {
    background-color: #95a5a6;
    border-color: #95a5a6;
    color: #FFFFFF;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

#search-colleagues {
    margin-top: 20px;
}

#search-colleagues-btn {
    font-size: 14px;
    background: #1E714A;
    color: #FFFFFF;
    border-radius: 24px;
    padding: 8px 25px 8px 25px;
    border: none;
}

#search-colleagues-btn:hover {
    background: #31A16F;
    color: #FFFFFF;
}

#search-colleagues-list li {
    width: 750px;
    margin-bottom: 20px;
}

#search-colleagues-list img {
    height: 90px;
    vertical-align: middle;
    margin-left: -15px;
    margin-top: -10px;
}

#search-colleagues-list p {
    font-size: 11px;
    line-height: 10px;
}

#search-pi-list li {
    width: 750px;
    margin-bottom: 20px;
}

#search-products {
    margin-top: 20px;
}

#search-products-btn {
    font-size: 14px;
    background: #1E714A;
    color: #FFFFFF;
    border-radius: 24px;
    padding: 8px 25px 8px 25px;
}

#search-products-btn:hover {
    background: #31A16F;
    color: #FFFFFF;
}

#see-full-list-btn {
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 0px;
    display: block;
    width: 350px;
    font-size: 12px;
}

#see-full-list-btn:hover {
    background-color: #89C176;
    border-radius: 0px;
}

#status-update-textarea {
    resize: none;
}

#submitEditChange {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A;
    border: none;
    float: right;
    margin-bottom: 50px;
}

#submitEditChange:hover {
    background-color: #31A16F;
}

#submit-lab-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A;
    border: none;
    float: right;
}

#submit-lab-btn:hover {
    background-color: #31A16F;
    color: #FFFFFF;
}

.submit-order-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A; 
    border: none;
    float: right;
}

.submit-order-btn:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.submit-order-btn:hover {
    background-color: #31A16F;
    color: #FFFFFF;
}

#success-lab-alert {
    text-align: left;
    height: 38px;
}

#success-lab-content {
    margin-top: -5px;
}

td {
    border: none !important;
}

#ul-csv-product-btn {
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#ul-csv-product-btn:hover {
    background-color: #89C176;
}

#ul-csv-product-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#ul-csv-vendor-btn {
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
}

#ul-csv-vendor-btn:hover {
    background-color: #89C176;
}

#ul-csv-vendor-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#upload-vendor-column {
    margin-top: -370px;
    margin-left: 40px;
    padding-left: 50px;
    border-left: 0.5px solid #C1C1C1;
}

#upload-product-column {
    margin-top: -480px;
    margin-left: 40px;
    padding-left: 50px;
    border-left: 0.5px solid #C1C1C1;
}

.vendor-property-headers td {
    color: #1E714A;
    padding: 0px 0px 0px 0px;
}

.vendor-property-data td {
    padding: 0px 0px 0px 0px;
}

.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
}