.new-project-form{
	margin:8% 0 0 25%;

}

.float-right{
	float: right;
}
.float-left{
	float: left;
	text-align: left!important;

}
.team-members-desc{
	text-align: left!important;
	margin: 0 0 !important;
}