body {
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
     overflow-x: hidden;
     font-size: medium;
}

.navbar {
    list-style: none;
    font-weight: bold;
    width: auto;
    text-align: center;
    background-color: #015300;
    height: 5%;
}

.navbar img{
    width: 160px;
    height: 45px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.navbar li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

.navbar li a {
    display: block;
    min-width: 140px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #015300;
    text-decoration: none;
    font-size: 130%;
}

.navbar li:hover a {
    background: #084500;
}

.container {
	width: 90%;
	overflow: hidden;  
}

.left,.right {
    padding: 10px;
}

.container img{
    width: 105%;
}

.modal-footer {
    text-align: center;
}

.btn-default{
    font-family: "Lucida Sans Unicode", "lucida grande", sans-serif;
    background-color: whitesmoke;

}


#friends img{
    height: 150px;
    width: 110px;
    object-fit: cover;
    padding: 2px;
    text-align: center;
}

.thumbnail img{
    height: 200px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
}

#profile .btn-default {
    float: right;
}

#profile img {
    height: 250px;
    width: 250px;
}
 .leftColumn {

     position: absolute;
     display: block;
     word-wrap: break-word;
     color: black;
     font-size: 14px;
     line-height: 24px;
     float: left;
     margin-left: 0px;
     width: 172px;
     height: 2000px;
     background-color: #e9eaed;
 }
 .projTable
 {
     width:50%;

 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 15px;
 }
a{
    color:#015300;
    font-size:medium;
    
}
.nav-tabs{
    text-align:center;
}

 .headerID {
     position:relative;
     margin-left: auto;
     margin-right: auto;
 }

 .projContainer {
     float:right;
     margin-left: auto;
     margin-right: 0px;
     width: 630px;
     height: 2000px;
     background-color: #fff;
 }

 #wrapper {
     position:relative;
     float:right;
 }

 #projectName{
     text-align:center;
 }

 #createProject {
     display:none;
     float: right;
     margin-left: auto;
     margin-right: auto;
     width:660px;
     height:2000px;
     background-color: #fff;
 }


 #editIcon {
     position:absolute;
     height: 30px;
     width: 30px;
     top:15px;
     right:15px;
 }

 .pageHeading {
     text-align: center;
     font-weight:bold;
 }

 #partsLink {
     position: relative;
     margin-right: auto;
     margin-left: 190px;
     float: left;
 }

 #changingBox {
     display: none;
     position:relative;
     float:left;
 }

 #hiddenParagraph {
     display: none;
 }

 h4 {
     text-align: center;
 }

 #rightColumn {
     display:block;
     float: right;
     width: 670px;
     background-color: #fff;
     height: 2000px;
 }


 .information {
     font-size: 15px;
     /*margin-left:auto;*/
     margin-right: auto;
     height: 200px;
     /*margin-bottom:50px;*/
     width:550px;
 }

 .labInfo {
     position:relative;
     font-weight: bold;
     margin-left: 180px;
     margin-top: 15px;
     float: left;
     padding: 15px;
 }


 #heading {
     position:relative;
     margin-left: auto;
     margin-right:auto;
 }

 .labInfo2 {
     position:relative;
     margin-top: 15px;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 15px;
     padding-bottom:0px;
     margin-bottom:0px;
     float:right;
 }

 .description {
     margin-left: .70em;
     margin-right: .67em;
     margin-top: 20px;
     padding: 20px;
     text-align: justify;
 }

 .notebook {
     position:relative;
     display:block;
     height:400px;
     width:680px;
     font-size: 15px;
     float:left;
     margin-left:-10px;
     margin-right: auto;
     /*border-style:solid;*/
     padding-left:15px;
     padding-right:15px;
 }

 #noteID {
     border-style:solid;
 }


 #searchButton{
     /*background: url(searchIcon.png);*/
     /*background-repeat: no-repeat;*/
     float:right;
     background-color:#006600;
     color:#FFFFFF;
     margin-right:150px;
     margin-top:45px;
 }

 #makePhotoAppear{
     position:relative;
     float:left;
     background-color:#006600;
     color:#FFFFFF;
 }

 #searchNotebook{
     position:relative;
     float:left;
     margin-left: 5px;
     /*margin-left:60px;*/
     height:44px;
     margin-bottom:0px;
     padding-bottom:0px;
     margin-top:40px;
     visibility: visible;
 }

 #keywordInsert{
     position:relative;
     display:none;
     margin-bottom:15px;
     height:34.444px;
     width:157.385px;
 }

 #keywordSearch{
     display:block;
     position:relative;
     text-decoration: underline;
     margin-top:44px;
     margin-left:5px;
     float:left;
 }
 #dateSearch{
     display:none;
     position:relative;
     text-decoration: underline;
     margin-top:44px;
     margin-left:25px;
     float:left;
 }

 #entryGoesHere {
     position:relative;
     margin-left:auto;
     margin-right:auto;
     text-align:justify;
     padding:15px;
 }
 /* Ordering page CSS */
 #products {
     float: left;
     width: 40%;
     height: fit-content;
     
     
 }
 
 #companies {
     float: left;
     max-width: 49%;
     height: fit-content;
     
     
    
     
 }
 .search {
     float: left;
     text-align: center;
     vertical-align: top;
     height: 30px;
     position: relative;
     
 }
 #orderList{
     clear: left;
     position: relative;
 }
 #description {
     vertical-align: top;
 }
 #nameBox{
     margin-top: 5px;
     margin-bottom: 5px;
 }
 textarea[name=orderDescription]{
    width: 70%;
    height: 40%;
    border: 1px solid #cccccc;
    padding: 5px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
 }
 input[name=orderName]{
    margin-left: 38.8px;
    position: relative;
 }

 #teamPage img{
     width: 250px;
     height: 250px;
     object-fit: cover;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
.jumbotron {
    background-image: url('../images/logos/boston.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:100%;
  
  }
.jumbotron h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.jumbotron p {
    text-align: center;
}
