#add-members-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #9E9E9E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    clear: both;
    margin-left: 70%;
    margin-top: -30px;
    float: right;
}


/*#members-full-list img {
    margin-top: 0px;
    margin-left: 0px;
    height: 90px;
    width: 110px;
}*/

#project-profile-nav{
    position: absolute;
    margin-top: 38%;
    margin-left: 400px;
    width: 58%;
    overflow-x: hidden;
    background: transparent;
    border: none;
}

#project-profile-overview {
    padding: 20px 40px 30px 50px;
    background-color: #FFFFFF;
}

#edit-project-btn {
    float: right;
    margin-left: 10px;
    background-color: #9E9E9E;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#submit-project-btn{
    float: right;
    margin-left: 10px;
    background-color: #9E9E9E;
    height: 40px;
    border-radius: 10px;
    border: none;
    display: none;
}
.member-link{
    width:100;
}

#submit-member-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    background-color: #1E714A;
    border: none;
    float: right;
}

.member-full-list {
    display: inline;
}

.member-full-list a {
    color: #1E714A;
    font-weight: 400;
    float: left;
 }

.member-full-list li {
    margin-left: 50px;
    height: 102px;
    width: 450px;
}

.member-full-list li div {
    float: left;
    margin-top: -5px;
}

.member-full-list li div p {
    text-align: left;
    line-height: 10px;
    clear: both;
}

.member-full-list li img {
    margin-top: -30px;
    margin-left: -40px;
    height: 100px;
    float: left;
}

.member-full-list li input {
    float: right;
    transform: scale(1.5);
    margin-top: -5px;
}

.member-results {
    /*overflow-y: scroll;*/
    height: 300px;
}

#search-members{
    margin-top: 20px;
    margin-bottom: 50px;
}

.pi-full-list li img {
    margin-top: -30px;
    margin-left: -40px;
    height: 100px;
    float: left;
}

.member-link-list{
    margin-top: 120px;
}