a:link {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;  
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}
            
a:hover {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent !important;
}

#sidebar {
    position: absolute;
    float: left;
    margin-left: -15px;
    overflow: hidden;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
}

ul li {
    padding-left: 40px;
    margin-left: -15px;
    background: none;
    width: 300px;
}

ul li.active {
    background-color: #E0E0E0;
    border-right-style: inset;
    border-right-width: 5px;
    border-right-color: #89C176;
}

ul li img {
    height: 15px;
    margin-top: 10px;
    padding-right: 20px;
    vertical-align: middle;
    float: left;
}
